
* {  
	--color1: #16161e;
	--color3: #1a1b26;
	--color5: #bb9af7;
	--color6: #24283b;

    scrollbar-width: thin !important;
	scrollbar-color: #24283b #16161e !important;

}

@-moz-document url("about:privatebrowsing"){
	html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
        background-color: #16161e !important;
		color: #a9b1d6;
	}
	#search-handoff-button {
        background-color: #1a1b26 !important;
		color: #a9b1d6;
        border: none !important;
        box-shadow: none !important;
		border-bottom: 1px solid var(--color5) !important;
		border-radius: 10px 10px 10px 10px !important;
    }

	.fake-caret {background: rgb(255, 255, 255) !important;}
	.logo-and-wordmark .wordmark {
		fill: var(--color5) !important; 
	}
}
 
@-moz-document url("about:home"),url("about:blank"),url("about:newtab"){
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
        background-color: #16161e !important;
	}

	.search-wrapper .search-handoff-button {
		background-color: #16161e !important;
		color: #a9b1d6 !important;
		font-family: 'JetBrainsMono Nerd Font' !important;
		border: 2px solid #24283b !important;
		border-radius: 10px 10px 10px 10px !important;
		box-shadow:	0px 0px 20px #1a1b26 !important;
	}

	.search-wrapper .logo-and-wordmark {
		opacity: 0.8 !important;
		display: none !important;
	}
	  
	.search-wrapper input:focus {
        color: white !important;
    }
	.search-wrapper .search-button {
        fill: #ffffff5e !important;
    }
	
	.search-wrapper .search-button:focus,
    .search-wrapper .search-button:hover {
        background-color: transparent !important;
        fill: white !important;
    }
	.outer-wrapper.newtab-experience .search-wrapper .search-handoff-button .fake-caret {
		top: 12px !important;
	}
	
	.outer-wrapper.newtab-experience .search-wrapper .search-inner-wrapper {
		min-height: 42px !important;
	}

	.top-site-outer .tile {
		border-radius: 8px;
		background-color: #1a1b26 !important;
		/* box-shadow:	0px 0px 20px #1a1b26 !important; */
		border: 2px solid #24283b !important;
	}


	.top-site-outer:hover .tile {
		border-radius: 8px;
		background-color: #1a1b26 !important;
		box-shadow:	0px 0px 20px #1a1b26 !important;
		border: 2px solid #24283b !important;
	}

	.top-site-outer .top-site-icon {
		background-color: #1a1b26 !important;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 4px;
		position: absolute;
		
	}
	
	.top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
		background-color: #16161e !important;
		border: 2px solid #24283b !important;
		box-shadow:	0px 0px 20px #1a1b26 !important;
	}

	.top-site-outer .title {
		font-family: 'JetBrainsMono Nerd Font' !important;
		font-weight: 400 !important;
		/* font-style: italic !important; */
		/* letter-spacing: 0.1em !important; */
	}

	.icon.icon-pin-small {
		display: none !important;
	}
}

