! general settings
URxvt.saveLines:        50000
URxvt.termName:         xterm-256color
URxvt.urgentOnBell:     false
URxvt.visualBell:       false
URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.meta8:            false
URxvt.metaSendsEscape:  true
URxvt.iconFile:  		/usr/share/icons/Sardi-Mono/scalable/apps/terminal.svg
URxvt.urlLauncher:      firefox
URxvt.underlineURLs:    true
URxvt.urlButton:        1

! appearance
URxvt.geometry: 		100x30
URxvt.depth:             32
!URxvt.transparent:      true
URxvt.shading:           80
URxvt.underlineColor:    #4682B4
URxvt.highlightColor:    #666666
URxvt.throughColor:      #4682B4
URxvt.scrollBar:         false
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true
URxvt.internalBorder:    5
URxvt.externalBorder:    5
URxvt.colorIT:      	 #4682B4
URxvt.colorBD:      	 #F9F9F9
URxvt.colorUL:      	 #87afd7

!!! get your color schemes from here
!!! https://terminal.sexy/
!!! copy/paste colorcodes in
!!! begin

! special
*.foreground: #CBCCC6
*.background: #0A0E14
*.cursorColor: #afbfbf

! black
*.color0: #1D202F
*.color8: #1D202F

! red
*.color1: #FF3333
*.color9: #FF3333

! green
*.color2: #C2D94C
*.color10: #C2D94C

! yellow
*.color3: #E6B450
*.color11: #E6B450

! blue
*.color4: #39BAE6
*.color12: #39BAE6

! magenta
*.color5: #A37ACC
*.color13: #A37ACC

! cyan
*.color6: #59C2FF
*.color14: #59C2FF

! white
*.color7: #B3B1AD
*.color15: #CBCCC6


!!! end
!!! get your color schemes from here
!!! https://terminal.sexy/
!!! copy/paste colorcodes in

! fonts
URxvt.letterSpace: 	    		-1
URxvt.font:                 	xft:JetBrainsMonoNerdFont:regular:size=12
URxvt.imFont:               	xft:JetBrainsMonoNerdFont:regular:size=12
URxvt.italicFont:           	xft:JetBrainsMonoNerdFont:italic:size=12
URxvt.boldFont:             	xft:JetBrainsMonoNerdFont:bold:size=12
URxvt.boldItalicFont:     		xft:JetBrainsMonoNerdFont:regular:size=12
! run :.!fc-list | grep <font-name>

! perl extensions
! You can install extra perl extensions you should add them here
URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select,fullscreen,resize-font
!URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select,tabbed

! macros for resize-font - sudo pacman -S urxvt-resize-font-git
URxvt.resize-font.step:   1
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.keysym.C-Down:      resize-font:smaller
URxvt.keysym.C-Up:        resize-font:bigger

! macros for clipboard and selection
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.M-c:       perl:clipboard:copy
URxvt.keysym.m-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.keysym.M-u:       perl:url-select:select_next

! fullscreen - sudo pacman -S urxvt-fullscreen
urxvt.keysym.F11:       perl:fullscreen:switch

! tabbed
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg:    15
URxvt.tabbed.tab-bg:    4
URxvt.buffered:         false

! clipboard
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste


! ------------------------------------------------------------------------------
! xterm ayu-theme
! ------------------------------------------------------------------------------

xterm*faceName: JetBrainsMono Nerd Font
xterm*faceSize: 12
xterm*loginShell: true
xterm*vt100*geometry: 100x30
xterm*saveLines: 50000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*eightBitInput: false

xterm*foreground: #CBCCC6
xterm*background: #0A0E14

! Blacks
xterm*color0:           #1D202F
xterm*color8:           #1D202F

! Reds
xterm*color1:           #FF3333
xterm*color9:           #FF3333

! Greens
xterm*color2:           #C2D94C
xterm*color10:          #C2D94C

! Yellows
xterm*color3:           #E6B450
xterm*color11:          #E6B450

! Blues
xterm*color4:           #39BAE6
xterm*color12:          #39BAE6

! Purples
xterm*color5:           #A37ACC
xterm*color13:          #A37ACC

! Cyans
xterm*color6:           #59C2FF
xterm*color14:          #59C2FF

! Whites
xterm*color7:           #B3B1AD
xterm*color15:          #CBCCC6

xterm*boldMode: false
xterm*colorBDMode: true
xterm*colorBD: rgb:ff/ff/ff




! ------------------------------------------------------------------------------
! UXTerm standard arcolinux theme
! ------------------------------------------------------------------------------

! termtype
UXTerm*termName: xterm-256color


UXTerm*cursorColor:        #c8c8c8
UXTerm*VT100.geometry:     100x30
UXTerm*font:               Monospace
UXTerm*faceSize:		   11
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          50000
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          false
UXTerm*rightScrollBar:     false
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false

! fix colors
UXTerm*background: rgb:63/63/63
UXTerm*foreground: rgb:00/00/00
UXTerm*color0: rgb:3f/3f/3f
UXTerm*color1: rgb:cc/00/00
UXTerm*color2: rgb:4e/9a/06
UXTerm*color3: rgb:c4/a0/00
UXTerm*color4: rgb:34/65/a4
UXTerm*color5: rgb:ad/6a/b8
UXTerm*color6: rgb:06/98/9a
UXTerm*color7: rgb:dc/dc/cc
UXTerm*color8: rgb:54/54/54
UXTerm*color9: rgb:fc/54/54
UXTerm*color10: rgb:8a/e2/34
UXTerm*color11: rgb:fc/e9/4f
UXTerm*color12: rgb:94/bf/f3
UXTerm*color13: rgb:dc/95/e8
UXTerm*color14: rgb:93/e0/e3
UXTerm*color15: rgb:ff/ff/ff

UXTerm*boldMode: false
UXTerm*colorBDMode: true
UXTerm*colorBD: rgb:ff/ff/ff
