* {
  bg:     #151515;
  bg-alt: #191919;
  bg2:    #1a1a1a;
  bg3:    #212121;

  black:  #2e2e2e;
  black2: #3b3b3b;

  gray:   #5a5a5a;
  gray2:  #7f7f7f;
  fg:     #e8e8d3;
  
  white:  #e8e8d3;
  red:    #cf6a4c;
  orange: #ffb964;
  yellow: #d8ad4c;
  green:  #99ad6a;
  blue:   #597bc5;
  cyan:   #8197bf;
  cyan2:  #71b9f8;
  purple: #c6b6ee;
    
  transp: #00000000;
}

